<template id="factor_manager">
	<div>
	<top_header :user="user"></top_header>
	<breadcrumb title="Gestion de factores"></breadcrumb>


    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

			<page_sidebar :user="user"></page_sidebar>

            <!-- Main content -->
            <div class="content-wrapper">

		        <div class="row">
                <div class="col-md-12">


                    <h1 style="margin-bottom: 10px; display: block; margin-top: -6px;">
                        <b>Factor principal</b>
                        <!-- <router-link :to="{ path: '/user/create'}" class="btn btn-primary btn-sm" style="float: right;">Crear nuevo factor</router-link> -->
                    </h1>

                    <div class="panel panel-white" style="margin-top: 10px;">
                    <div class="table-responsive">

                      <div v-for="factor in primary_factors" >
                       <table class="table table-striped table-bordered table-hover table-condensed" v-if="factor.tipo == '1'">
                           <tr>
                               <td>
                                   <b>Titulo</b>
                               </td>
                           </tr>

                            <tr>
                              <td> <b>{{factor.titulo}}</b> <br>
                                <a class="btn btn-xs btn-default" v-if="factor.estado==1" @click="change_status(factor.id)">Desactivar</a>
                                <a class="btn btn-xs btn-success" v-if="factor.estado==0" @click="change_status(factor.id)">Activar</a>
                              </td>
                            </tr>

                            <tr style="border: 0'">
                              <td style="padding: 0;">
                                <table class="table table-striped table-hover table-condensed" v-if="factor.childs && factor.childs.length>=1" style="border: 0;">
                                  <tr>
                                    <td><b>Titulo</b></td>
                                    <td><b>Categoria</b></td>
                                    <td><b>Opciones</b></td>
                                  </tr>
                                  <tr v-for="child in factor.childs" v-bind:class="{ 'text-danger': child.estado==0 }">
                                    <td>{{child.titulo}}</td>
                                    <td>{{child.nombre_categoria}}</td>
                                    <td>
                                      <router-link :to="{ path: '/factor/questions/'+child.id}" class="btn btn-xs btn-default">Gestionar preguntas</router-link>

                                      <a class="btn btn-xs btn-default" v-if="child.estado==1" @click="change_status(child.id)">Desactivar</a>
                                      <a class="btn btn-xs btn-success" v-if="child.estado==0" @click="change_status(child.id)">Activar</a>
                                    </td>
                                  </tr>
                                </table>

                              </td>
                            </tr>

                       </table>
                       </div>


                    </div>
                    </div>


                    <h1 style="margin-bottom: 10px; display: block; margin-top: -6px;">
                        <b>Factor secundario</b>
                    </h1>

                    <div class="panel panel-white" style="margin-top: 10px;">
                    <div class="table-responsive">


                            <table class="table table-striped table-bordered table-hover table-condensed">
                              <tr>
                                <td><b>Titulo</b></td>
                                <td><b>Categoria</b></td>
                                <td><b>Opciones</b></td>
                              </tr>
                              <tr v-for="factor_type_sec in primary_factors" v-if="factor_type_sec.tipo == 2" v-bind:class="{ 'text-danger': factor_type_sec.estado==0 }">
                                <td>{{factor_type_sec.titulo}}</td>
                                <td>{{factor_type_sec.nombre_categoria}}</td>
                                <td>
                                  <router-link :to="{ path: '/factor/questions/'+factor_type_sec.id}" class="btn btn-xs btn-default">Gestionar preguntas</router-link>

                                  <a class="btn btn-xs btn-default" v-if="factor_type_sec.estado==1" @click="change_status(factor_type_sec.id)">Desactivar</a>
                                  <a class="btn btn-xs btn-success" v-if="factor_type_sec.estado==0" @click="change_status(factor_type_sec.id)">Activar</a>
                                </td>
                              </tr>
                            </table>



                    </div>
                    </div>

                </div>
            </div>


            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->


	<page_footer></page_footer>
	</div>
</template>