<template id="breadcrumb">
    <div>
    <div class="page-header">
        <div class="breadcrumb-line">
            <ul class="breadcrumb">
                <li><a href="index.html"><i class="icon-home2 position-left"></i> Home</a></li>
                <li class="active">{{title}}</li>
            </ul>
        </div>

        <div class="page-header-content">
            <div class="page-title">
                <h4>{{title}}</h4>
            </div>
        </div>
    </div>
    </div>
</template>